.app-photo-highlights-presentation {
  padding-bottom: 5rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__photo {
      margin-right: 7rem;
    }

    &__text-block {
      display: flex;
      flex-direction: column;
      align-self: center;

      &__name {
        padding-bottom: 2rem;
      }

      &__highlights {
        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        h6 {
          margin-bottom: unset;
        }
        p {
          margin-bottom: unset;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .app-photo-highlights-presentation {
    // padding-bottom: 5rem;

    &__container {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-around;

      flex-direction: column-reverse;

      &__text-block {
        margin-bottom: 3rem;
      }

      &__photo {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        width: auto;
      }

      &__text-block {
        // display: flex;
        // flex-direction: column;
        // align-self: center;

        &__name {
          // padding-bottom: 2rem;
        }

        &__highlights {
          &:not(:last-child) {
            // margin-bottom: 0.75rem;
          }

          h6 {
            // margin-bottom: unset;
          }
          p {
            // margin-bottom: unset;
          }
        }
      }
    }
  }
}
