<ng-container *ngIf="data$ | async as data">
  <section class="app-photo-highlights-presentation">
    <div class="app-photo-highlights-presentation__container">
      <img
        *ngIf="data.photo"
        class="app-photo-highlights-presentation__container__photo"
        [src]="data.photo.src"
        [alt]="data.photo.altText"
      />

      <div class="app-photo-highlights-presentation__container__text-block">
        <h4 class="app-photo-highlights-presentation__container__text-block__name">
          {{ data.myName }}
        </h4>

        <ng-container *ngIf="data.highlights">
          <div
            *ngFor="let pair of data.highlights"
            class="app-photo-highlights-presentation__container__text-block__highlights"
          >
            <h6>{{ pair.title }}</h6>
            <p>{{ pair.description }}</p>
          </div>
        </ng-container>

        <a
          href="https://3f9712d4-5d14-424a-845f-5368c041d9a2.filesusr.com/ugd/0e1495_9df93c6afc1e44488730836d8dd25b00.pdf"
          target="_blank"
          >🡇CV | ESP</a
        >
        <a
          href="https://3f9712d4-5d14-424a-845f-5368c041d9a2.filesusr.com/ugd/0e1495_16c834d321cc463cbe764dc4f2212cb4.pdf"
          target="_blank"
          >🡇CV | ENG</a
        >
      </div>
    </div>
  </section>
</ng-container>
