<section class="skills-form">
  <ng-container *ngIf="!isFormOpen; else showForm">
    <button class="custom-button btn" (click)="toogle()">Add new Skill</button>
  </ng-container>

  <ng-template #showForm>
    <button class="custom-button btn" (click)="toogle()">Close form</button>
    <div class="row">
      <div class="col">
        <form class="skills-form__content__form" [formGroup]="skillForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="title">Title</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="title" formControlName="title" required />
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="src">src</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="src" formControlName="src" required />
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="certificate">certificate</label>
            <div class="col-sm-9">
              <input
                class="form-control"
                type="text"
                id="certificate"
                formControlName="certificate"
                required
              />
            </div>
          </div>

          <div class="skills-form__content__form__submit-button">
            <button class="btn btn-secondary" type="submit" [disabled]="skillForm.invalid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</section>
