.skills-form {
  margin-bottom: 2.5rem;

  &__content {
    &__form {
      margin-top: 2rem;

      &__submit-button {
        margin-top: 2rem;

        button {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 550px) {
  .skills-form {
    &__content {
      &__form {
        &__submit-button {
          margin-top: unset;
          width: 30%;
          float: right;

          button {
          }
        }
      }
    }
  }
}
