.app-backdrop {
  --app-backdrop-background-color: lightgrey;

  div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--app-backdrop-background-color);
    opacity: 0.75;
  }
}
