<div *ngIf="log | async as logs">
  <div *ngFor="let log of logs; let first = first">
    <div style="text-align: center" *ngIf="first">
      <h2>
        {{ log.authorized === 0 ? 'Login' : 'My Account' }}
      </h2>
      <hr />

      <br />

      <div class="row" *ngIf="log.authorized === 0">
        <div class="col">
          <form [formGroup]="logForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="id">Email</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="id" formControlName="id" />
              </div>
            </div>

            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="authorized">Password</label>
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  id="authorized"
                  formControlName="authorized"
                />
              </div>
            </div>

            <div>
              <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <button
        *ngIf="log.authorized === 1"
        class="btn btn-secondary"
        routerLink="/dashboard"
        routerLinkActive="selected-link"
      >
        Go to Dashboard
      </button>
      <br /><br />

      <button
        *ngIf="log.authorized === 1"
        style="
          background-color: transparent;
          border: none;
          font-weight: 600;
          text-decoration: underline;
        "
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</div>
