<div *ngIf="log | async as logs">
  <div *ngFor="let log of logs; let first = first">
    <div style="text-align: center" *ngIf="first">
      <h2 class="log__title">
        {{ log.authorized === 0 ? 'Login' : 'My Account' }}
      </h2>
      <hr />

      <br />

      <div class="row" *ngIf="log.authorized === 0">
        <div class="col">
          <form [formGroup]="logForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="email">Email</label>
              <div class="col-sm-9">
                <input
                  class="form-control"
                  type="text"
                  id="email"
                  formControlName="email"
                  placeholder="Insert your email address"
                />
              </div>
            </div>

            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="password">Password</label>
              <div class="col-sm-9">
                <input
                  placeholder="Insert your password"
                  class="form-control"
                  type="password"
                  id="password"
                  formControlName="password"
                />
              </div>
            </div>

            <div>
              <button
                style="width: 100%"
                class="btn btn-secondary"
                type="submit"
                [disabled]="logForm.invalid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>

      <button
        *ngIf="log.authorized === 1"
        class="btn btn-secondary"
        routerLink="/dashboard"
        routerLinkActive="selected-link"
      >
        Dashboard
      </button>
      <br /><br />

      <button
        *ngIf="log.authorized === 1"
        class="btn btn-secondary"
        routerLink="/config"
        routerLinkActive="selected-link"
      >
        Configuration
      </button>
      <br /><br />

      <br />

      <button
        *ngIf="log.authorized === 1"
        style="
          background-color: transparent;
          border: none;
          font-weight: 600;
          text-decoration: underline;
        "
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</div>
