<ng-container *ngIf="arrowsText">
  <section class="arrows-previous-next-section">
    <button
      *ngIf="arrowsText.previousText"
      routerLink="{{ arrowsText.routerLinkPrevious }}"
      class="previousArrow btn btn-outline-secondary"
    >
      <<
      <span>{{ arrowsText.previousText }}</span>
    </button>
    <button
      routerLink="{{ arrowsText.routerLinkNext }}"
      *ngIf="arrowsText.nextText"
      class="nextArrow btn btn-outline-dark"
    >
      <span>{{ arrowsText.nextText }}</span>
      >>
    </button>
  </section>
</ng-container>
