.education-card {
  --background-color-with-opacity: rgba(240, 128, 128, 0.075);

  padding: 2rem;
  border: 1px solid rgb(240, 128, 128);
  background-color: var(--background-color-with-opacity);
  width: 20rem;
  height: 18rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__logo {
    img {
      max-width: 5rem;
      margin-bottom: 1rem;
    }
  }

  &__study-name {
    color: rgb(240, 128, 128);
  }

  &__dates {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
}
