<ng-container *ngIf="educationCardData as data">
  <div class="jumbotron">
    <div class="education-logo">
      <h3 class="education-logo__text">{{ data.position | titlecase }}</h3>
      <a [href]="data.logo?.href" target="_blank">
        <img [src]="data.logo?.src" [alt]="data.logo?.altText" />
      </a>
    </div>

    <div class="dates" [ngClass]="{ 'currently-exists': !data.endDate }">
      <h5>
        {{ data.startDate?.getMonth() | number : '2.0' }}/{{ data.startDate?.getFullYear() }} -
      </h5>
      &nbsp;
      <h5 *ngIf="data.endDate; else Currently">
        {{ data.endDate.getMonth() | number : '2.0' }}/{{ data.endDate.getFullYear() }}
      </h5>
      <ng-template #Currently>
        <h5>Currently</h5>
      </ng-template>
    </div>

    <div class="location">
      <h5>{{ data.city | uppercase }}</h5>
      <h5 class="location__remote" *ngIf="data.remote">(Remote)</h5>
    </div>

    <hr class="my-4" />
    <p>{{ data.description }}</p>
  </div>
</ng-container>
