.education {
  width: 70vw;
  min-height: 30rem;

  &__header {
    color: lightseagreen;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    app-education-card:not(last-child) {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 992px) {
  .education {
    &__header {
    }

    &__cards {
      justify-content: center;

      app-education-card:not(last-child) {
        margin-right: 0;
      }
    }
  }
}
