.contact {
  &__header {
    color: var(--custom-title-color);
    text-align: center;
    margin-bottom: 3.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 1rem;
    }
  }
}

.contact__form {
  .form-control {
    background-color: transparent;

    &:focus {
      background-color: rgba(32, 178, 171, 0.132);
    }
  }

  button {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .contact__form {
    button {
      width: 100%;
    }
  }
}
