<div class="contact__header">
  <h2 class="contact__header__title">Contact</h2>
  <p class="contact__header__subtitle">Insert description</p>
</div>

<form
  class="contact__form"
  action="https://formsubmit.co/javiercastojarillo@gmail.com"
  method="POST"
>
  <label for="name">Name</label>
  <input type="text" name="name" required />
  <label for="message">Message</label>
  <!-- <textarea type="textarea" name="message" required /> -->
  <textarea name="message" id="message" cols="30" rows="10"></textarea>
  <button type="submit">Send</button>
  <input type="hidden" name="_next" value="http://localhost:4200/contact-email-sent" />
</form>

<app-arrows-previous-next-section [arrowsText]="arrowsData"></app-arrows-previous-next-section>
