.hamburger-navigation-modal {
  border-radius: 0.3rem;
  width: 80%;
  // padding-top: 1rem;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(103, 239, 232);
  border: 3px solid rgb(32, 178, 170);
  display: flex;
  flex-direction: column;

  &__head-line {
    padding: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-image: url('/assets/images/background-img.png');

    &__title {
      color: rgb(21, 116, 111);
      font-size: 1.375rem;
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }

  &__content {
    margin: 2rem auto auto 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
      font-size: 1.25rem;
      font-weight: 500;
      background-color: unset;
      color: white;
      border-color: transparent;
      margin-bottom: 1.5rem;
      padding: 0.5rem;

      &:hover,
      &.selected-link {
        opacity: 0.6;
      }
    }
  }

  &__bottom-line {
    padding: 1rem 0.5rem;
    margin-top: auto;
    width: 100%;
    height: 3rem;
    background-image: url('/assets/images/background-img.png');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      font-size: 1rem;
      font-weight: 500;
      background-color: unset;
      color: rgb(21, 116, 111);

      border-color: transparent;

      &:first-child {
        margin-right: 2.5rem;
      }

      &:hover,
      &.selected-link {
        opacity: 0.6;
      }
    }
  }
}

.app-backdrop {
  --app-backdrop-background-color: rgb(207, 252, 250);
}

@media (min-width: 560px) {
  .hamburger-navigation-modal {
    width: 50%;
  }
}
