<section class="homepage">
  <ng-container *ngIf="users">
    <div *ngFor="let user of users; let i = index">
      <div>
        <h5>Usuario {{ i + 1 }}</h5>
        <pre>{{ user | json }}</pre>
      </div>
    </div>
  </ng-container>

  <app-photo-highlights-presentation></app-photo-highlights-presentation>

  <h5 class="homepage__title">About me</h5>

  <br />

  <div class="homepage__description">
    I consider myself a proactive, communicative, creative, analytical and versatile professional.

    <br />
    <br />

    “Little things make a big difference"

    <br />
    <br />

    I have international experience in software development (Frontend and BPM), e-commerce and
    marketing.

    <br />
    <br />

    I studied Business Administration at the University of Seville and a Degree in Software
    Development. In addition, in 2018, I took a MBA | Marketing at IME Business School in Salamanca.

    <br />
    <br />

    I have had the opportunity to live and develop my professional career in different places in
    Europe, such as Seville, Oxford, Canary Islands and Salamanca, which has given me great
    flexibility to deal with people from different cultures.

    <br />
    <br />

    The main sectors in which I have worked are: IT, automotive, agri-food, hotels and retail.

    <br />
    <br />

    My objective is to take full advantage of every experience, seeking professional development.
  </div>
</section>

<app-arrows-previous-next-section [arrowsText]="arrowsData"></app-arrows-previous-next-section>
