<section class="homepage">
  <app-photo-highlights-presentation></app-photo-highlights-presentation>

  <!-- <div class="homepage__cv-pdf">
    <a
      href="https://3f9712d4-5d14-424a-845f-5368c041d9a2.filesusr.com/ugd/0e1495_9df93c6afc1e44488730836d8dd25b00.pdf"
      target="_blank"
      >🡇 CV | ESP</a
    >
    <a
      href="https://3f9712d4-5d14-424a-845f-5368c041d9a2.filesusr.com/ugd/0e1495_16c834d321cc463cbe764dc4f2212cb4.pdf"
      target="_blank"
      >🡇 CV | ENG</a
    >
  </div> -->

  <div class="homepage__about-me">
    <h5 class="homepage__about-me__title">About me</h5>

    <br />

    <div class="homepage__about-me__description">
      I consider myself a proactive, communicative, creative, analytical and versatile professional.

      <br />
      <br />

      “Little things make a big difference"

      <br />
      <br />

      I have international experience in software development (Frontend and BPM), e-commerce and
      marketing.

      <br />
      <br />

      I studied Business Administration at the University of Seville and a Degree in Software
      Development. In addition, in 2018, I took a MBA | Marketing at IME Business School in
      Salamanca.

      <br />
      <br />

      I have had the opportunity to live and develop my professional career in different places in
      Europe, such as Seville, Oxford, Canary Islands and Salamanca, which has given me great
      flexibility to deal with people from different cultures.

      <br />
      <br />

      The main sectors in which I have worked are: IT, automotive, agri-food, hotels and retail.

      <br />
      <br />

      My objective is to take full advantage of every experience, seeking professional development.
    </div>
  </div>
</section>

<app-arrows-previous-next-section [arrowsText]="arrowsData"></app-arrows-previous-next-section>
