.skills {
  text-align: -webkit-center;

  &__header {
    color: var(--custom-title-color);
    text-align: center;
    margin-bottom: 3.5rem;
  }

  &__container {
    height: 100%;
    width: 60vw;
    text-align: center;

    &__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      flex-wrap: wrap;

      &__card {
        display: flex;
        flex-direction: column;

        &__img-container img {
          width: 10rem;
        }

        &__button-delete {
          margin-top: 1rem;
          align-self: center;

          button {
            font-size: 0.75rem;

            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

app-skills-form {
  text-align: center;
}

@media (min-width: 768px) {
  .skills {
    &__container {
      height: 100%;
      width: 60vw;
      text-align: center;

      &__list {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
