.skills {
  text-align: -webkit-center;

  &__header {
    color: lightseagreen;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  &__container {
    height: 100%;
    width: 60vw;
    text-align: center;

    &__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      flex-wrap: wrap;

      &__card {
        display: flex;
        flex-direction: column;

        &__img-container img {
          width: 10rem;
        }
      }
    }
  }
}

app-skills-form {
  text-align: center;
}

@media (min-width: 768px) {
  .skills {
    &__container {
      height: 100%;
      width: 60vw;
      text-align: center;

      &__list {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
