<div class="skills__header">
  <h2 class="skills__header__title">Skills</h2>
  <p class="skills__header__subtitle">Insert description</p>
</div>

<section class="skills">
  <div class="skills__hard">
    <h5 class="skills__hard__title">HARD SKILLS</h5>
    <div class="skills__hard__list">
      <p>😋</p>
      <p>😋</p>
      <p>😋</p>
      <p>😋</p>
      <p>😋</p>
    </div>
  </div>

  <div class="skills__soft">
    <h5 class="skills__soft__title">SOFT SKILLS</h5>
    <div class="skills__soft__list">
      <p>😋</p>
      <p>😋</p>
      <p>😋</p>
      <p>😋</p>
      <p>😋</p>
    </div>
  </div>
</section>

<app-arrows-previous-next-section [arrowsText]="arrowsData"></app-arrows-previous-next-section>
