<div class="skills__header">
  <h2 class="skills__header__title">Skills</h2>
  <p class="skills__header__subtitle">Insert description</p>
</div>

<app-skills-form></app-skills-form>

<section class="skills">
  <div class="skills__container">
    <ng-container *ngIf="skillsList">
      <div class="skills__container__list">
        <div *ngFor="let skill of skillsList">
          {{ skill | json }}
        </div>
      </div>
    </ng-container>
  </div>
</section>

<app-arrows-previous-next-section [arrowsText]="arrowsData"></app-arrows-previous-next-section>
