:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  color: #333;
  //   box-sizing: border-box;
}

.content {
  display: flex;
  margin: 100px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;

  // .router-outlet {
  //   z-index: -1;
  // }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}
