.education-form__content {
  padding-top: 1rem;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
  height: 100%;
  overflow-y: auto;
  background-color: lightcoral;
  border: 3px solid rgb(118, 0, 0);

  &__head-line {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;

    &__title {
      color: rgb(118, 0, 0);
      // margin-left: 1.25rem;
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    &__button-close {
      --custom-button-background-color: rgb(118, 0, 0, 0.9);
      --custom-button-background-color-hover: rgb(118, 0, 0, 0.5);
      --custom-button-border-color: rgb(118, 0, 0);
    }
  }

  &__form {
    label {
      color: white;
      font-weight: 600;
    }

    &__submit-button {
      margin-top: 2rem;
      text-align: center;
      button {
        width: 100%;
      }
    }

    &__checkbox {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: baseline;
      margin-top: 2rem;

      label {
        margin-right: 1.5rem;
      }

      input {
        transform: scale(2);
      }
    }
  }
}

.dates {
  display: flex;
  gap: 1rem;
  align-items: center;

  h6 {
    margin: 0;
    color: rgb(118, 0, 0);
  }
}

.app-backdrop {
  --app-backdrop-background-color: rgba(240, 128, 128, 0.573);
}

@media (min-width: 480px) {
  .education-form__content {
    height: fit-content;
    z-index: 2;
    padding: 2rem 6rem;
    margin: 0;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);

    &__head-line {
      margin-bottom: 2rem;
      padding-bottom: 1.5rem;
      width: 30rem;
      justify-content: space-between;

      &__title {
        padding-left: 0;
        font-size: 2rem;
      }
    }

    &__form {
      &__checkbox {
        display: flex;
        flex-flow: row;
        margin-top: unset;

        label {
          margin-right: 5.125rem;
        }

        input {
          transform: scale(2.5);
        }
      }

      &__submit-button {
        margin-top: 1rem;
        text-align: right;
        button {
          width: 35%;
        }
      }
    }
  }
}
