.app-confirm-dialog {
  --app-confirm-dialog-close-background-color: transparent;

  section {
    // background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    border: 4px solid red;
  }

  .app-confirm-dialog-close {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 1.25rem 0;

    &__button {
      border: none;
      background-color: var(--app-confirm-dialog-button-background-color);
      font-size: 1.25rem;
      outline: none;
      color: transparent;
      text-shadow: 0 0 0 rgb(32, 178, 170);

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .app-confirm-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.75rem 0.75rem 1.25rem;
    align-items: center;

    &__title {
      text-align: center;
      max-width: 20rem;
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      padding: 0 1rem;
      width: 100%;

      &__confirm {
        --custom-button-background-color: rgba(178, 32, 32, 0.9);
        --custom-button-background-color-hover: rgb(178, 32, 32, 0.5);
        --custom-button-border-color: rgb(135, 24, 24);
      }
    }
  }
}

@media (min-width: 768px) {
  .app-confirm-dialog {
    .app-confirm-dialog-content {
      &__title {
        max-width: 25rem;
        font-size: 1.5rem;
      }

      &__buttons {
        flex-direction: row;
        width: 50%;
      }
    }
  }
}
