.work-experience {
  margin-top: 3rem;

  &__header {
    color: var(--custom-title-color);
    text-align: center;
    margin-bottom: 3.5rem;
  }

  &__add-position-button {
    margin-bottom: 2rem;
    text-align: center;
  }
}

app-job-position-card {
  margin-bottom: 3rem;
}
