.position-buttons {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  margin-bottom: 0.25rem;

  button {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.375rem;

    &:hover {
      // transform: scale(1.1);
      font-weight: bold;
    }

    p {
      display: none;
      margin-top: unset;
      margin-bottom: unset;
    }
  }
}

.jumbotron {
  --background-color-with-opacity: rgb(32, 178, 170, 0.075);

  padding: 2rem 3rem;
  border: 1px solid rgb(32, 178, 170);
  background-color: var(--background-color-with-opacity);
  margin-bottom: 5rem;

  .position-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    img {
      max-width: 6rem;
    }

    &__text {
      color: lightseagreen;
    }

    img {
      height: fit-content;
    }
  }

  .location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 13.5rem;

    &__remote {
      font-weight: 400;
    }
  }

  .dates {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .position-buttons {
    // display: flex;
    // justify-content: right;
    // gap: 0.5rem;
    // margin-bottom: 0.25rem;

    button {
      // font-size: 0.75rem;
      // display: flex;
      // align-items: center;
      // gap: 0.375rem;

      &:hover {
        // // transform: scale(1.1);
        // font-weight: bold;
      }

      p {
        display: block;
      }
    }
  }

  .jumbotron {
    min-width: 40rem;
  }
}

@media (min-width: 1200px) {
  .position-buttons {
    // display: flex;
    // justify-content: right;
    // gap: 0.5rem;
    // margin-bottom: 0.25rem;

    button {
      // font-size: 0.75rem;
      // display: flex;
      // align-items: center;
      // gap: 0.375rem;

      &:hover {
        // // transform: scale(1.1);
        // font-weight: bold;
      }

      p {
        display: block;
      }
    }
  }

  .jumbotron {
    min-width: 50rem;
  }
}
