<section class="register">
  <h4>Add New Job Position</h4>
  <hr />

  <div class="row">
    <div class="col">
      <form (ngSubmit)="addJobPosition()" autocomplete="off" [formGroup]="miFormulario">
        <!-- Logo Href field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">logoHref</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="logoHref"
              placeholder="Insert logoHref"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- Logo Src field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">logoSrc</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="logoSrc"
              placeholder="Insert logoSrc"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- Logo Alt Text field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">logoAltText</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="logoAltText"
              placeholder="Insert logoAltText"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- Position field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">position</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="position"
              placeholder="Insert position"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- startDate field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">startDate</label>
          <div class="col-sm-9">
            <input
              type="date"
              class="form-control"
              formControlName="startDate"
              placeholder="Insert startDate"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- endDate field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">endDate</label>
          <div class="col-sm-9">
            <input
              type="date"
              class="form-control"
              formControlName="endDate"
              placeholder="Insert endDate"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- city field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">city</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              formControlName="city"
              placeholder="Insert city"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- remote field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">remote</label>
          <div class="col-sm-9">
            <input
              type="checkbox"
              class="checkbox"
              formControlName="remote"
              placeholder="Insert remote"
            />

            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <!-- description field -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">description</label>
          <div class="col-sm-9">
            <!-- <input
              type="textbox"
              class="form-control"
              formControlName="description"
              placeholder="Insert description"
            /> -->
            <textarea
              class="form-control"
              formControlName="description"
              placeholder="Insert description"
              cols="30"
              rows="5"
            ></textarea>
            <!-- <span class="form-text text-danger" *ngIf="campoEsValido('email')">
              At least 3 characters
            </span> -->
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button
              type="submit"
              class="btn btn-secondary float-right"
              [disabled]="miFormulario.invalid"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
