.footer {
  padding: 0.5rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--custom-toolbar-footer-color);

  //   bottom: 0;
  //   text-align: center;
  //   margin-top: 8px;
  //   display: flex;
  //   align-items: center;
  //   line-height: 20px;

  //   & a {
  //     display: flex;
  //     align-items: center;
  //   }

  &__text {
    color: white;
    font-weight: 400;
  }
}
